body, html {
	margin: 0;
}

body {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(165, 126, 80, 0.65) 1300px, rgba(165, 126, 80, 1) 1500px), url('../img/background.jpg') no-repeat;
	background-size: contain;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.channel {
	text-align: center;
}

.channel, .item {
	padding: 15px;
	margin: 20px 0;
	border: 1px solid black;
	background-color: rgba(255,255,255, 0.9);
}

.title a {
	text-decoration: none;
	font-size: 24px;
	color: black;
}

.title:after {
	content: '';
	display: block;
	margin-top: 10px;
	width: 150px;
	border: 1px solid black;
}

.button {
	display: inline-block;
	margin-top: 10px;
	background-color: #a57e50;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
	color: white;
	border: 1px solid black;
}

.date {
	margin-bottom: 15px;
	color: #9C2744;
}

#toggle_editor {
	position: fixed;
	display: flex;
	align-items: center;
	top: 50%;
	background-color: #b1b1b1;
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
	border-radius: 25px;
	height: 100px;
	right: -160px;
	width: 200px;
}

.close i:before {
	position: absolute;
	right: 25px;
	top: 25px;
	color: black;
	cursor: pointer;
}

.arrow_left i:before, .arrow_right i:before {
	color: white;
	font-size: 40px;
	margin-left: 5px;
	cursor: pointer;
}

.cog i:before {
	font-size: 50px;
	margin-left: 30px;
	cursor: pointer;
	color: white;
}

.arrow_right {
	display: none;
}

#editor {
	display: none;
	position: fixed;
	right: 15px;
	border-radius: 25px;
	top: 40%;
	width: 300px;
	height: 300px;
	background-color: white;
}

#editor h2 {
	text-align: center;
	margin-top: 15px;
}

.themes ul {
	column-count: 2;
	padding: 0;
	width: 150px;
	margin: 0 auto;
}

.theme {
	list-style-type: none;
	margin-bottom: 10px;
	text-align: center;
	text-transform: capitalize;
}

.theme:hover {
	cursor: pointer;
}

.theme:after {
	content: '';
	display: block;
	margin: 0 auto;
	border: 1px solid black;
	width: 65px;
	height: 65px;
}

#default:after, #red:after, #blue:after, #orange:after {
	background-size: contain;
}

#default:after {
	background-image: url('../img/background.jpg');
}

#red:after {
	background-image: url('../img/background_red.jpg');
}

#blue:after {
	background-image: url('../img/background_blue.jpg');
}

#orange:after {
	background-image: url('../img/background_orange.jpg');
}

footer {
	background-color: black;
	margin-top: 40px;
	color: white;
	padding: 20px 0;
}

footer a {
	color: #a57e50;
}